.ui.dimmer.modals.page.transition.animating {
  display: flex !important;
  animation-duration: 500ms;
}

.ui.dimmer.modals.page.transition.visible.active {
  display: flex !important;
  overflow: auto;
}

.ui.modal.transition.animating {
  display: block !important;
  animation-duration: 500ms;
}

.ui.modal.transition.visible.active {
  display: block !important;
}

.ui.modal > .close {
  top: 1.0535rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
